.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider-track {
  display: flex;
  transition: transform .4s ease;
}

.slider-slide {
  flex: 0 0 100%;
  width: 100%;
}

.slider-controls {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  pointer-events: none;
}

.slider-arrow {
  pointer-events: auto;

  cursor: pointer;

  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 999px;

  background: rgba(
    255,
    255,
    255,
    .85
  );

  margin: 16px;
}